* {
    margin: 0;
}

body {
    font-family: Arial;
}

.navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.menu {
    display: flex;
    justify-content: end;
}